*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RedHatDisplay', sans-serif;
}

html {
    width: 100%;
    min-height: 100vh;
    scrollbar-color: #1C7296 #3E116B;
    scrollbar-width: thin;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#__next {
    width: 100%;
    min-height: 100vh;
}

video {
    display: block;
}

input {
    -webkit-user-select: text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #dfdfdf;
}

/* html>*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
} */

::-webkit-scrollbar-thumb {
    background: #bebebe;
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4;
}

::-webkit-scrollbar-thumb:active {
    background: #cacaca;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #665084 inset !important;
    -webkit-text-fill-color: white !important;
    background-clip: content-box !important;
}