*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RedHatDisplay', sans-serif;
    scrollbar-color: #bebebe #dfdfdf;
    scrollbar-width: thin;
}

a {
    text-decoration: none;
}

html {
    width: 100%;
    min-height: 100vh;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#__next {
    width: 100%;
    min-height: 100vh;
}

video {
    display: block;
}

input {
    -webkit-user-select: text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #dfdfdf;
}

::-webkit-scrollbar-thumb {
    background: #bebebe;
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
    background: #919191;
}

::-webkit-scrollbar-thumb:active {
    background: #6e6e6e;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #665084 inset !important;
    -webkit-text-fill-color: white !important;
    background-clip: content-box !important;
}

@media (hover: none) {
    *,
    *::before,
    *::after {
        scrollbar-width: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }
  }